## Apple Music Data Science Analysis

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np 
import seaborn as sns

In [2]:
music = pd.read_csv('.\Apple_Music_Raw_Data.csv', header = None)
music.head()

,0,1,2,3,4,5,6,7
0,Blankets,2:54,Fantompower,4 AM Coding Session,35,"12/2/21, 8:01 AM","12/5/21, 7:20 PM",Lowfi
1,Liquid Larry,1:22,I'm Surf,4 AM Coding Session,35,"12/2/21, 8:00 AM","12/5/21, 7:17 PM",Lowfi
2,Epilogue (Original Mix),0:50,Mell-o,4 AM Coding Session,36,"12/2/21, 8:00 AM","12/5/21, 7:16 PM",Lowfi
3,Beautiful escape,3:41,Hoogway,4 AM Coding Session,36,"12/2/21, 8:00 AM","12/5/21, 7:15 PM",Lowfi
4,Waiting For Your Call,3:05,Jordy Chandra,4 AM Coding Session,36,"12/2/21, 8:00 AM","12/5/21, 7:12 PM",Lowfi

In [3]:
columns = ['song_title','duration','music_artist','album','plays','date_added','last_played','genre']
music.columns = columns
music.head()

,song_title,duration,music_artist,album,plays,date_added,last_played,genre
0,Blankets,2:54,Fantompower,4 AM Coding Session,35,"12/2/21, 8:01 AM","12/5/21, 7:20 PM",Lowfi
1,Liquid Larry,1:22,I'm Surf,4 AM Coding Session,35,"12/2/21, 8:00 AM","12/5/21, 7:17 PM",Lowfi
2,Epilogue (Original Mix),0:50,Mell-o,4 AM Coding Session,36,"12/2/21, 8:00 AM","12/5/21, 7:16 PM",Lowfi
3,Beautiful escape,3:41,Hoogway,4 AM Coding Session,36,"12/2/21, 8:00 AM","12/5/21, 7:15 PM",Lowfi
4,Waiting For Your Call,3:05,Jordy Chandra,4 AM Coding Session,36,"12/2/21, 8:00 AM","12/5/21, 7:12 PM",Lowfi

In [4]:
music.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3006 entries, 0 to 3005
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   song_title    3006 non-null   object
 1   duration      3006 non-null   object
 2   music_artist  3006 non-null   object
 3   album         1625 non-null   object
 4   plays         2991 non-null   object
 5   date_added    3006 non-null   object
 6   last_played   2991 non-null   object
 7   genre         3006 non-null   object
dtypes: object(8)
memory usage: 188.0+ KB

In [5]:
music = pd.read_csv('.\Music_Data_Countries.csv')
music.head()

,Song ID,Song Title,Lenght,Country,Artist,Album,Plays,Date Added,Last Played,Genre,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1,The Set-Up,4:14,USA,Moodyman,NaN,30.0,"11/22/21, 7:56 AM","11/23/21, 10:29 AM",Electronic,NaN,NaN,NaN,NaN
1,2,Italo Disco,6:56,FR,Lifelike,NaN,53.0,"11/22/21, 7:54 AM","11/23/21, 7:59 PM",Dance,NaN,NaN,NaN,NaN
2,3,Horizon (Japan bonus track),4:25,FR,Daft Punk,Random Access Memories,67.0,"11/21/21, 11:16 AM","11/23/21, 3:20 PM",Alternative,NaN,NaN,NaN,NaN
3,4,Aerodynamic (Daft Punk Remix),6:11,FR,Daft Punk,NaN,44.0,"11/21/21, 11:14 AM","11/23/21, 7:30 PM",Dance,NaN,NaN,NaN,NaN
4,5,Metamodernity,2:43,USA,Vansire,NaN,64.0,"11/18/21, 5:09 PM","11/23/21, 6:10 PM",Alternative,NaN,NaN,NaN,NaN

In [6]:
music.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2979 entries, 0 to 2978
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Song ID       2979 non-null   int64
 1   Song Title    2979 non-null   object
 2   Lenght        2979 non-null   object
 3   Country       2979 non-null   object
 4   Artist        2979 non-null   object
 5   Album         1608 non-null   object
 6   Plays         2964 non-null   float64
 7   Date Added    2979 non-null   object
 8   Last  Played  2964 non-null   object
 9   Genre         2979 non-null   object
 10  Unnamed: 10   0 non-null      float64
 11  Unnamed: 11   0 non-null      float64
 12  Unnamed: 12   0 non-null      float64
 13  Unnamed: 13   0 non-null      float64
dtypes: float64(5), int64(1), object(8)
memory usage: 326.0+ KB

In [7]:
music = music.drop(columns=['Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13'])
music.head()

,Song ID,Song Title,Lenght,Country,Artist,Album,Plays,Date Added,Last Played,Genre
0,1,The Set-Up,4:14,USA,Moodyman,NaN,30.0,"11/22/21, 7:56 AM","11/23/21, 10:29 AM",Electronic
1,2,Italo Disco,6:56,FR,Lifelike,NaN,53.0,"11/22/21, 7:54 AM","11/23/21, 7:59 PM",Dance
2,3,Horizon (Japan bonus track),4:25,FR,Daft Punk,Random Access Memories,67.0,"11/21/21, 11:16 AM","11/23/21, 3:20 PM",Alternative
3,4,Aerodynamic (Daft Punk Remix),6:11,FR,Daft Punk,NaN,44.0,"11/21/21, 11:14 AM","11/23/21, 7:30 PM",Dance
4,5,Metamodernity,2:43,USA,Vansire,NaN,64.0,"11/18/21, 5:09 PM","11/23/21, 6:10 PM",Alternative

In [8]:
columns = ['song_id','title','time','country','artist','album','plays','date_added','last_played','genre']
music.columns = columns
music.head()

,song_id,title,time,country,artist,album,plays,date_added,last_played,genre
0,1,The Set-Up,4:14,USA,Moodyman,NaN,30.0,"11/22/21, 7:56 AM","11/23/21, 10:29 AM",Electronic
1,2,Italo Disco,6:56,FR,Lifelike,NaN,53.0,"11/22/21, 7:54 AM","11/23/21, 7:59 PM",Dance
2,3,Horizon (Japan bonus track),4:25,FR,Daft Punk,Random Access Memories,67.0,"11/21/21, 11:16 AM","11/23/21, 3:20 PM",Alternative
3,4,Aerodynamic (Daft Punk Remix),6:11,FR,Daft Punk,NaN,44.0,"11/21/21, 11:14 AM","11/23/21, 7:30 PM",Dance
4,5,Metamodernity,2:43,USA,Vansire,NaN,64.0,"11/18/21, 5:09 PM","11/23/21, 6:10 PM",Alternative

In [10]:
music.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2979 entries, 0 to 2978
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   song_id      2979 non-null   int64
 1   title        2979 non-null   object
 2   time         2979 non-null   object
 3   country      2979 non-null   object
 4   artist       2979 non-null   object
 5   album        1608 non-null   object
 6   plays        2964 non-null   float64
 7   date_added   2979 non-null   object
 8   last_played  2964 non-null   object
 9   genre        2979 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 232.9+ KB

In [19]:
## L
print(music.genre.nunique())
print(music.artist.nunique())

116
1563